extends base.pug

block scripts 
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css  
block content 
    

    section#introSection 
        div welcome to our dance academy 
        div.small eat sleep dance repeat 
        
    section#missionSection
          h2 our mission 
    div.card
           h3 perfection
           div.card-box
               div.card-img
                        img(src="static/morgan-petroski-LsMxdW1zWEQ-unsplash.jpg", alt="",height=300,width=300)
               div.card-content
                  p best academy to join         
    div.card
           h3 determination   
           div.card-box
               div.card-img
                        img(src="static/olivia-bauso-nKWXb8EGzO0-unsplash.jpg", alt="",height=300,width=300)
               div.card-content
                  p dance the way you like
    div.card
           h3 stardom 
           div.card-box
               div.card-img
                        img(src="static/david-hofmann-XmD4gx8jsXE-unsplash.jpg", alt="",height=300,width=300)
               div.card-content
                  p passion is all you need         
    section#sponsorsSection 
        h3 our sponsors
        div#sponsors
       
        img(src="static/rubaitul-azad-iL7jxeQvFu8-unsplash.jpg", alt="",class="spimages",height=150,width=150) 
        img(src="static/trac-vu-Yut0WQE3jzs-unsplash.jpg", alt="",class="spimages",height=150,width=150)              
        img(src="static/turag-photography-1uQe5BIiH8w-unsplash.jpg", alt="",class="spimages",height=150,width=150)              
        img(src="static/scott-webb-bmmcfZqSjBU-unsplash.jpg", alt="",class="spimages",height=150,width=150)              