h1{
    text-align: center;
    margin: 12px;
}

.myInput
{
    margin: 13px;
    padding: 15px
    /* you can use this to prevent any unwanted outline that is coming inside the box 
    outline:none;
 */
}

.myForm
{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 265px;

}

.container{
    min-height: 80vh;
}
.container h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    margin: auto;
    padding: 10px;
    width: 81px;
    cursor: pointer;
}